
@using Grpc.Net.Client;
@using GrpcService1;
@using Microsoft.Extensions.Configuration;
@inject ApplicationDbContext context
@inject IConfiguration configuration

@page "/"
<div>
    <p>Message :@Message</p>
</div>


@code
{
    public string Message;
       
        protected override async  Task OnInitializedAsync()
        {
          try
        {
            AppContext.SetSwitch(
                "System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport",
                true);

            var conf = configuration.GetValue<string>("Grpc");

            var ch = new Greeter.GreeterClient(GrpcChannel.ForAddress(conf));
            var reply = await ch.SayHelloAsync(
                                  new HelloRequest { Name = "GreeterClient" });

            Message = reply.Message;

        }
        catch (Exception ex)
        {
            Message = ex.Message;
        }
      }

  }